<template>
  <section class="section-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center align-self-center">
          <h3>Lets Work Together</h3>
          <p>
            Bicarakan produkmu atau hanya konsultasi<br />Kamu dapat menghubungi
            saya dengan sosial media<br />dibawah ini
          </p>
          <div class="sosmed">
            <NuxtLink to="">
              <img
                src="/img/icon/instagram-grey.png"
                width="40"
                class="img-fluid"
                alt=""
              />
            </NuxtLink>
            <NuxtLink to="">
              <img
                src="/img/icon/facebook.png"
                width="40"
                class="img-fluid"
                alt=""
              />
            </NuxtLink>
            <NuxtLink to="">
              <img src="/img/icon/wa.png" width="30" class="img-fluid" alt="" />
            </NuxtLink>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <img src="/img/illustration/calling.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-contact p {
  color: #828282;
}
</style>