<template>
  <section class="section-copyright bg-dark py-3">
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <img
            src="/img/illustration/avatar.png"
            width="80"
            class="img-fluid"
            alt=""
          />
          <p class="mt-3">Copyright 2021 Aep Saefulloh | All RightReserved.</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-copyright img{
    background: #FCD583;
    border-radius: 50px;
    padding: 5px;
}
.section-copyright p{
    color: #BDBDBD;
    font-size: 14px;
}
</style>