<template>
  <section class="section-hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-1 align-self-center">
          <div class="hero-text">
            <h1 class="display-5 text-name">Hi! Saya Aep Saefulloh -</h1>
            <h1 class="display-5 text-yellow">Frontend Developer</h1>
            <p>
              Saya adalah Penggemar dunia desain grafis dan Tampilan antarmuka,
              saya menyukai tantantangan karena dari tantangan kita dapat
              melihat dunia lebih jauh
            </p>
            <div class="hero-account">
              <div class="email">
                <h3><strong>Email:</strong></h3>
                <a href="">
                  <p>aepsaefulloh1396@gmail.com</p>
                </a>
              </div>
              <div class="dribble">
                <h3><strong>Linkedin:</strong></h3>
                <a href="https://www.linkedin.com/in/aep-saefulloh/">
                  <p class="w-100">linkedin.com/in/aep-saefulloh/</p>
                </a>
              </div>
            </div>

            <div class="hero-button">
              <NuxtLink to="" class="btn button-yellow text-white"
                >Download CV</NuxtLink
              >
              <a href="tel:+628787383503" class="btn button-dark text-white"
                >Contact Me</a
              >
            </div>
            <div class="hero-account">
              <a href>
                <img
                  src="/img/icon/instagram.png"
                  width="30"
                  class="img-fluid"
                  alt=""
                />
                <span>Instagram</span>
              </a>
              <a href>
                <img
                  src="/img/icon/google.png"
                  width="30"
                  class="img-fluid"
                  alt=""
                />
              </a>
              <!-- <a href>
                <img
                  src="/img/icon/dribbble.png"
                  width="30"
                  class="img-fluid"
                  alt=""
                />
              </a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-1">
          <div class="hero-images">
            <div class="profile-image">
              <img
                src="/img/illustration/hero.svg"
                width=""
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-hero {
  height: 100vh;
  margin-top: 5rem;
}
.section-hero .hero-text .text-name {
  font-weight: 500;
}
.section-hero .hero-text p {
  width: 50%;
}
.section-hero .hero-account {
  display: flex;
  column-gap: 50px;
  margin-top: 50px;
}
.section-hero .hero-button {
  display: flex;
  column-gap: 30px;
}

.hero-button .button-yellow {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(83, 83, 83, 0.25);
  padding: 15px 35px;
  background: url(../static/img/illustration/vector-btn-yellow.png),
    var(--button-yellow);
  background-repeat: no-repeat;
  background-position: right;
}

.hero-button .button-dark {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(83, 83, 83, 0.25);
  padding: 15px 35px;
  background: url(../static/img/illustration/vector-btn-black.png), #202020;
  background-repeat: no-repeat;
  background-position: left;
}
.section-hero .hero-images .profile-image {
  position: relative;
  margin-top: 3rem;
  padding-top: 1rem;
}
/* .section-hero .hero-images .profile-image:before {
  content: "";
  position: absolute;
  background: url(../static/img/illustration/vector-hero.png) no-repeat;
  width: 100%;
  height: 100%;
  background-position: bottom;
  z-index: -1;
  top: 0;
} */
</style>