<template>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand"
        ><img
          src="/img/illustration/avatar.png"
          width="80"
          class="img-fluid"
          alt=""
        />&nbsp;<span>Avatar Fullname</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Skills</a>
          <a class="nav-link" href="#">Project</a>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style>
.navbar .navbar-brand img {
  background: #fcd583;
  padding: 0.5rem;
  border-radius: 50px;
}
.navbar .navbar-brand span {
  color: #4f4f4f;
}

.navbar-light .navbar-nav .nav-link {
  color: #818181;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  letter-spacing: 0.37em;
  margin-right: 1rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffad01 !important;
}
</style>