<template>
  <section class="section-project-list py-5">
    <div class="container">
      <div class="row">
        <div class="align-items-center">
          <div class="buttons">
            <NuxtLink to="/" class=""
              ><i class="bi bi-arrow-left-short arrow-back"></i>&nbsp;Kembali</NuxtLink
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="project-list">
            <figure class="figure">
              <img
                src="/img/illustration/project-example.png"
                class="figure-img img-fluid rounded"
              />
              <figcaption class="figure-caption figure-title">
                Kyuhealth Mental Health App
              </figcaption>
              <figcaption class="figure-caption">
                Di Kerjakan Pada 18 Juni 2021
              </figcaption>
            </figure>
            <figure class="figure">
              <img
                src="/img/illustration/project-example.png"
                class="figure-img img-fluid rounded"
              />
              <figcaption class="figure-caption figure-title">
                Kyuhealth Mental Health App
              </figcaption>
              <figcaption class="figure-caption">
                Di Kerjakan Pada 18 Juni 2021
              </figcaption>
            </figure>
            <figure class="figure">
              <img
                src="/img/illustration/project-example.png"
                class="figure-img img-fluid rounded"
              />
              <figcaption class="figure-caption figure-title">
                Kyuhealth Mental Health App
              </figcaption>
              <figcaption class="figure-caption">
                Di Kerjakan Pada 18 Juni 2021
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-project-list .heading h4 {
  color: var(--text-dark);
  position: relative;
}
.section-project-list .heading h4:before {
  content: "";
  width: 20%;
  height: 10px;
  background: var(--text-yellow);
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.section-project-list .arrow-back{
    box-shadow: 0px 4px 20px rgba(126, 126, 126, 0.25);
    border-radius: 50px;
    padding: 5px 9px;
    font-size: 20px;
    margin-right: .5rem;
}

.section-project-list .heading p {
  color: #828282;
  font-size: 14px;
}

.section-project-list .button-yellow {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(83, 83, 83, 0.25);
  padding: 15px 35px;
  background: url(../static/img/illustration/vector-btn-yellow.png),
    var(--button-yellow);
  background-repeat: no-repeat;
  background-position: right;
  color: #fff !important;
}

.section-project-list .project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  padding-top: 1rem;
}

.section-project-list .figure-caption.figure-title {
  color: #4f4f4f;
  font-weight: bold;
}
.section-project-list .figure-caption {
  color: #73808d;
  padding-left: 1.5rem;
}

.section-project-list .btn-outline-yellow {
  border: 1px solid #ffc54a;
  color: #ffc54a;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
}
.section-project-list .btn-outline-yellow:hover {
  background: #ffc54a;
  color: #fff;
  transition: 0.5s;
}
.section-project-list .btn-outline-yellow:focus {
  box-shadow: unset;
}
</style>