<template>
  <section class="section-services pb-5">
    <div class="container">
      <div class="grid-services">
        <div class="service-item">
          <div>
            <h5>UI/UX Designer</h5>
            <p>Membuat Desain aplikasi</p>
          </div>
          <div>
            <i class="bi bi-chevron-right"></i>
          </div>
        </div>
        <div class="service-item">
          <div>
            <h5>Graphic Designer</h5>
            <p>Membuat desain grafis</p>
          </div>
          <div>
            <i class="bi bi-chevron-right"></i>
          </div>
        </div>
        <div class="service-item">
          <div>
            <h5>Freelance Designer</h5>
            <p>Membuat Desain dari rumah saja</p>
          </div>
          <div>
            <i class="bi bi-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-services .grid-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 7rem;
}

.section-services .grid-services .service-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: url(../static/img/illustration/vector-services.png), #fff;
  background-repeat: no-repeat;
  background-position: left;
  box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.25);
  border-radius: 10px;
  padding: 20px 25px;
}
.section-services .grid-services .service-item:hover {
  box-shadow: 0px 4px 20px rgb(192 192 192 / 55%);
  transition: 0.5s;
}
.section-services .grid-services .service-item:before {
  content: "";
  width: 40%;
  height: 10px;
  background: var(--text-yellow);
  position: absolute;
  top: 35%;
}
.section-services .grid-services .service-item h5 {
  position: relative;
  color: #4f4f4f;
}

.section-services .grid-services .service-item p {
  font-size: 14px;
  color: #828282;
  margin: 0;
}
</style>