<template>
  <section class="section-skill py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="heading">
            <h4>Skill dan Pengalaman</h4>
            <p>Skill yang saya kembangkan dan<br />aplikasi yang saya kuasai</p>
          </div>
          <div class="application-skill">
            <div class="app-item">
              <img src="/img/icon/html-css-js.png" alt="" />
              <div class="caption">HTML, CSS, Javascript</div>
            </div>
            <div class="app-item">
              <img src="/img/icon/vue.png" alt="" />
              <div class="caption">Vue JS</div>
            </div>
            <div class="app-item">
              <img src="/img/icon/php.png" alt="" />
              <div class="caption">PHP</div>
            </div>
            <div class="app-item">
              <img src="/img/icon/photoshop.png" alt="" />
              <div class="caption">Adobe Photoshop</div>
            </div>
            <div class="app-item">
              <img src="/img/icon/figma.png" alt="" />
              <div class="caption">Figma</div>
            </div>
          </div>
        </div>
        <div class="col-md-5 offset-md-3">
          <div class="grid-skill">
            <div class="box-skill">
              <img src="/img/icon/uiux.png" class="img-fluid" alt="" />
              <div class="caption">UI/UX Design</div>
            </div>
            <div class="box-skill">
              <img src="/img/icon/responsive.png" class="img-fluid" alt="" />
              <div class="caption">Responsive Design</div>
            </div>
            <div class="box-skill">
              <img
                src="/img/icon/graphic_desain.png"
                class="img-fluid"
                alt=""
              />
              <div class="caption">Graphic Design</div>
            </div>
            <div class="box-skill">
              <img src="/img/icon/webdev.png" class="img-fluid" alt="" />
              <div class="caption">Web Development</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
.section-skill .heading {
  position: relative;
}

.section-skill .heading h4 {
  color: var(--text-dark);
  position: relative;
}
.section-skill .heading h4:before {
  content: "";
  width: 20%;
  height: 10px;
  background: var(--text-yellow);
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.section-skill .heading p {
  color: #828282;
  font-size: 14px;
}

.section-skill .application-skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  padding-top: 1rem;
}
.section-skill .application-skill .app-item {
  margin-top: 1rem;
  text-align: center;
  padding: 15px;
}
.section-skill .application-skill .app-item .caption {
  color: #4f4f4f;
  font-size: 14px;
  margin-top: 10px;
}

.section-skill .grid-skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
}

.section-skill .box-skill {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgb(192 192 192 / 25%);
  border-radius: 10px;
  text-align: center;
  margin-top: 15px;
  width: 70%;
  padding: 50px 20px;
}
.section-skill .box-skill:hover {
  box-shadow: 0px 4px 20px rgb(192 192 192 / 55%);
  transition: 0.5s;
}
.section-skill .box-skill:nth-child(odd) {
  margin-bottom: 3rem;
}
.section-skill .box-skill:nth-child(even) {
  margin-top: 3rem;
}
.section-skill .box-skill .caption {
  color: #333333;
  font-weight: bold;
}
</style>