<template>
  <div>
    <!-- <Navbar />
    <Hero />
    <Services />
    <Skill />
    <Project />
    <Contact />
    <Copyright /> -->
    <Maintenance />
  </div>
</template>

<script>
export default {
};
</script>
